<div class="container">
  <header class="header">
    <!-- ADICIONAR LOGO-->
    <span class="p-grid  p-justify-center "> 
      <img src="assets/logo-primengtest.png" class="logoImagem" [style]="possitionLogoTransition">
    </span>
  </header>

  <div class="p-grid  p-justify-center containnerLogin" [style]="alinanharContainer">
    <div class="p-col-11 p-sm-6 p-md-4">
      <p-card [style]="{'border-radius': '10px', 'background' : '#f5f6fa'}">
        <div class="p-grid">
          <div class="p-col-12 circulo icones" *ngIf="liberarCamposLogin == true">
            <i class="fas fa-user icone "></i> 
          </div>
          <div class="p-col-12" *ngIf="liberarCamposLogin == true">
            <label for=""  class="fontLogin">Usuário:</label>
            <p-inputMask [(ngModel)]="creds.cpf" name="cpf" mask="999.999.999-99" placeholder="CPF" [style]="{ 'width': '100%'}"  ></p-inputMask>
          </div>
          <div class="p-col-12" *ngIf="liberarCamposLogin == true">
            <label for="" class="fontLogin">Senha:</label>
            <input [(ngModel)]="creds.senha" name="senha" class="p-col-12" type="password" pInputText />
          </div>
          <div class="p-col-12 sizes" style="text-align: center;">
            <p-button label="ENTRAR"  [style]="{ 'width': '80%', 'background': 'linear-gradient(208.07deg,#03a9f4, #2196F3)'}" styleClass="p-button-lg" (click)= "alterarCss()"></p-button>
          </div>
          <div class="p-col-12 sizes"  *ngIf="liberarCamposLogin == true" style="text-align: center;">
            <p-button label="LOGAR ACESSAR"  [style]="{ 'width': '80%', 'background': 'linear-gradient(208.07deg,#03a9f4, #2196F3)'}" styleClass="p-button-lg" (click)= "navigateToUsuarioLogado()"></p-button>
            <p-button  [style]="{ 'width': '90%', 'background': '#f5f6fa','color':'#2196f3'}" styleClass="p-button " (click)= "alterarCss()">ESQUECI MINHA SENHA</p-button>
          </div>
        </div>
      </p-card>
    </div>
  </div>

  <div class="p-grid  p-justify-center " [style]="{ 'z-index' : '1', 'top' :'8rem','position': 'relative'}" *ngIf="liberarCamposLogin == true">
    <i class="pi pi-arrow-circle-down" style="font-size: 3rem; color: #09a6f4" (click)="voltarMenu()"></i>
  </div>

  <div class="p-grid  p-justify-center " [style]="{'z-index' : '1', 'top' :'14rem','position': 'relative' }" *ngIf="liberarCamposLogin == false">
    <div class="p-col-11 p-sm-6 p-md-4 ">
      <p-card  [style]="{ 'background' : '#f5f6fa', 'border-radius' : '10px'}"   >
        <span   class="p-grid p-jc-between" >
          <img src="assets/icones/codigo-qr.png" style="height: 3.4em" class="logoTextoQrCode"> 
          <span class="p-text-center"> 
            <button pButton pRipple type="button" icon="pi pi-external-link" class="p-button-rounded iconsBotao" 
            (click)="navigateToLeitorQr()"> </button>
          </span>
        </span>
      </p-card> 
    </div>
  </div>

  <div class="p-grid  p-justify-center " [style]="{'z-index' : '1', 'top' :'15rem','position': 'relative'}" *ngIf="liberarCamposLogin == false">
    <div class="p-col-11 p-sm-6 p-md-4 ">
      <p-card  [style]="{ 'background' : '#f5f6fa', 'border-radius' : '10px'}" >
        <span   class="p-grid p-jc-between" >
          <img src="assets/icones/cadastro.png" style=" height: 3.4em">
          <span class="p-text-center"> 
            <button pButton pRipple type="button" icon="pi pi-plus" class="p-button-rounded iconsBotao" 
            (click)="navigateToPacienteCreate()"> </button>
          </span>
        </span>
      </p-card> 
    </div>
  </div>
</div>
        

