<div class="container">

    <p>ficha-paciente works!</p>

    <div class="p-grid">

        <div class="p-col-12 p-md-4 p-lg-4"> 
            <div> Nome*</div>
            <div class="pacienteTexto"> {{fichaPaciente?.nome}}</div>
        </div>

        <div class="p-col-12 p-md-4 p-lg-4"> 
            <div> Sexo*</div>
            <div class="pacienteTexto"> {{fichaPaciente?.sexo}}</div>
        </div>

        <div class="p-col-12 p-md-4 p-lg-4 p-float-label"> 
            <div> Idade*</div>
            <div class="pacienteTexto">{{fichaPaciente?.idade}}</div>
        </div>

        <div class="p-col-12 p-md-6 p-lg-6 p-float-label"> 
            <div> Data Nascimento*</div>
            <div class="pacienteTexto">25</div>
        </div>

        <div class="p-col-12 p-md-6 p-lg-6 p-float-label"> 
            <div> Peso*</div>
            <div class="pacienteTexto">88</div>
        </div>

        <div class="p-col-12 p-md-6 p-lg-6 p-float-label"> 
            <div> Altura*</div>
            <div class="pacienteTexto">1.79</div>
        </div>

        <div class="p-col-12 p-md-6 p-lg-6 p-float-label"> 
            <div> Tipo Saquinio*</div>
            <div class="pacienteTexto">O-</div>
        </div>

        <div class="p-col-12 p-md-12 p-lg-12 p-float-label"> 
            <div> Doador De Orgao*</div>
            <div class="pacienteTexto">Sim</div>
        </div>
        <div class="p-col-12 p-md-12 p-lg-12 p-float-label"> 
            <div>Estado de Moradia*</div>
            <div class="pacienteTexto">Campo Grande - Ms</div>
        </div>

        <div class="p-col-12 p-md-12 p-lg-12 p-float-label"> 
            <div>Telefone</div>
            <div class="pacienteTexto">(67) 99155-7455</div>
        </div>
        {{fichaPaciente?.nome}}
    </div>
</div>
