<div class="container">
    <div class="p-grid">
        <div class="p-col-12 p-md-12 p-lg-12">
            <p-steps [model]="items" [(activeIndex)]="activeIndex" [readonly]="true"></p-steps>
        </div>

<form #usuarioForm="ngForm" (ngSubmit)="salvar(usuarioForm)">

    <label >Nome</label>
    <input name="nome" ngModel>

    <label>Email</label>
    <input name="email" ngModel>

    <label >Senha</label>
    <input name="senha" ngModel>

    <button type="submit">SALVAR</button>

</form>
        <div *ngIf="activeIndex == 0" >
            COLUNA 1
        </div>


        <div *ngIf="activeIndex == 1" >
            COLUNA 2
        </div>


        <div *ngIf="activeIndex == 2" >
            COLUNA 3
        </div>



        
        <button pButton type="button" label="<" class="p-d-flex p-jc-start"  (click)="alterar(-1)" *ngIf="activeIndex > 0" ></button>
        <p-button label=">" class="p-d-flex p-jc-end" (click)="alterar(+1)" *ngIf="activeIndex < 2"></p-button>

        </div>
</div>

<!-- 


        
        <router-outlet></router-outlet>

        <h3 class="first">Basic</h3>
        <p-steps [model]="items"></p-steps>

        <h3>Clickable</h3>
        <p-steps [model]="items" [(activeIndex)]="activeIndex" [readonly]="false"></p-steps>

       
        <h3 class="first">Basic</h3>
        <p-steps [model]="items"></p-steps>
        -->


<!--
            
        <div class="p-grid ">
            <div class="p-col-8 p-md-8 p-lg-8"> 

                <p-card class="p-justify-center">
                    <p-steps [model]="items" [readonly]="true"></p-steps>
                </p-card>
            </div>
            <div class="p-col-12 p-md-6 p-lg-3">B</div>
            <div class="p-col-12 p-md-6 p-lg-3">C</div>
            <div class="p-col-12 p-md-6 p-lg-3">D</div>
        </div>


        <router-outlet></router-outlet>

        <p-steps [model]="items" [(activeIndex)]="activeIndex" [readonly]="true"></p-steps>

        <div>
        <button pButton type="button" label="<" class="p-d-flex p-jc-start"  (click)="alterar(-1)" *ngIf="activeIndex > 0" ></button>

        <p-button label=">" class="p-d-flex p-jc-end" (click)="alterar(+1)" *ngIf="activeIndex < 3"></p-button>

        </div>


        <div *ngIf="activeIndex == 0" >
            COLUNA 1
        </div>


        <div *ngIf="activeIndex == 1" >
            COLUNA 2
        </div>


        <div *ngIf="activeIndex == 2" >
            COLUNA 3
        </div>

        <div *ngIf="activeIndex == 3" >
            COLUNA 4
        </div>

        -->